/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-color: green;
    outline-style: solid;
}

body {
    font-family: Poppins, sans-serif;

}

.navbar {
    width: 100%;
    color: #004467;
    background-color: white;
    height: 70px;
}

.navbar .container {
    width: 1600px;
    margin: 0 30px 300px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    color: #004467;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px;
}

a:link {
    text-decoration: none;
}

.navbarLogo {
    margin-left: 100px;
    font-family: Austein Script, sans-serif;
    font-size: 20px;
}

#hdrline2 {
    font-weight: normal;
}

.containerImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
    padding: 100px 0 0 300px;
    color: white;
    font-size: 60px;
    background-image: url("/assets/hero-image.jpg");
    background-color: #1B365A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: #1B365A;

}

h4 {
    display: flex;

    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #64DFDF;
    margin-left: 40px;
    margin-bottom: 30px;
}


.ftr-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: white;
    list-style-type: none;


}

.ftr-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 75px;
    font-family: Poppins, sans-serif;
    color: white;
    list-style-type: none;
}
/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */
/* .material-icons {*/
/*     font-variation-settings:*/
/*             'FILL' 1,*/
/*             'wght' 400,*/
/*             'GRAD' 0,*/
/*             'opsz' 40*/
/* }*/

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */