/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --darkblue: #293d52;
    --terqoise: #70b5bd;
    --grey: #ededed;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline-color: green;*/
    /*outline-style: solid;*/
}

body {
    font-family: Poppins, sans-serif;
    color: var(--darkblue);
}

/* ---------  REUSABLE  ----------*/

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*padding: 0 10px;*/
}

.inner-container {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--terqoise);
    font-size: medium;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    flex-shrink: 0;
    color: var(--darkblue);
    padding: 15px;
}

/* ---------  HEADER  ----------*/

.header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 300px;
    align-items: center;
    background-color: var(--grey);
}

.header__navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 350px;
}

.header__logo {
    width: max-content;
    padding-right: 30px;
    font-family: Austein Script, sans-serif;
    font-size: 2em;
    color: var(--darkblue);
}

.header__navbar a {
    color: var(--darkblue);
    font-weight: bold;
    text-decoration: none;
}

.header__navbar a:hover {
    font-weight: normal;
}

.header__hero {
    background-image: url("./assets/hero-image.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 300px;
    font-size: 2.0em;
}

.header__content p {
    font-size: 2em;
    margin-bottom: 20px;
}

.btn-header a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    color: var(--darkblue);
    text-decoration: none;
    font-size: medium;
}

/* ---------  MAIN  ----------*/

.white-space {
    height: 280px;
    position: relative;
}

#random-recipe-container {
    width: 1250px;
    /*height: 250px;*/
    margin: 30px 0;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    list-style: none;
    position: absolute;
    top: -60px;
}

#random-recipe-container .recipe-card:nth-of-type(2) {
    width: 500px;
    height: 300px;
    position: relative;
    top: -15px;
}

#random-recipe-container .recipe-card:nth-of-type(2) .margin-text-card {
    margin-left: 140px;
}

/* ---------  FORM  ----------*/

.main__search-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--darkblue);
}

.main__search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 50px;
    padding: 20px 20px;
}

.container-ingriedients-inputfield {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    width: 250px;
    height: 35px;
    border-radius: 5px;
}

input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    font-size: medium;
    font-family: Poppins, sans-serif;
    border-style: none;
    width: 150px;
    height: 35px;
    padding-left: 10px;
}

.main__search-form select {
    background-color: var(--white);
    font-size: medium;
    font-family: Poppins, sans-serif;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

.btn-form {
    height: 35px;
    font-size: 1em;
}

.btn-form:hover {
    cursor: pointer;
}

/* ---------  RECIPE CARDS  ----------*/

.main__result-recipe-cards {
    width: 1250px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.recipe-card:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.recipe-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
    background-color: var(--white);
    width: 400px;
    height: 270px;
    border-radius: 5px;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.recipe-card a {
    color: inherit;
    text-decoration: none;
    height: 90%;
}

.recipe-card__img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.time-icon {
    display: inline-flex;
    background-image: url("./assets/time.png");
    color: var(--darkblue);
}

.card-content-position {
    display: flex;
    justify-content: space-between;
}

.margin-text-card {
    margin-left: 30px;
}

.recipe-card__text {
    padding: 10px 10px 10px 10px;
}

.recipe-card__label {
    font-weight: bolder;
    font-size: medium;
    margin-bottom: 20px
}
/* ---------  FOOTER  ----------*/

.footer__container {
    background-color: var(--darkblue);
    padding: 30px 300px;
    gap: 30px;
}

.footer__list {
    align-items: baseline;
}

.footer__list li {
    font-weight: lighter;
    line-height: 30px;
}

.footer__container ul {
    list-style: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

h4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--terqoise);
    margin-bottom: 30px;
    width: 100px;

}
.footer__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    width: 150px;
}

.footer__icons {
    display: inline-flex;
    flex-direction: row;
    background-color: var(--terqoise);
    border-radius: 80%;
    margin-right: 10px ;
    padding: 5px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
}

/* ---------  RECIPE PAGE  ----------*/

.outer-container__recipe-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 300px 50px 300px;
    color: var(--darkblue);
}

.inner-container__recipe-header {
    display: flex;
    width: 100%;
}

.recipe__name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
    gap: 10px;
    padding-bottom: 20px;
}

.inner-container__ingriedients-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
    width: 65%;
    flex-wrap: wrap;
}

.ingredients-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    width: 100%
    position: relative;
    margin-left: 20px;
    min-height: 250px;
}

h3 {
    font-size: larger;
    font-weight: bold;
    padding-top: 30px;
}

.inner-container__recipe-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    height: 50px;
    position: absolute;
    padding-top: 100px;
}

.recipe__img {
    border-radius: 5px;
}

.outer-container__nutrients-info-and-health-labels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.inner-container__nutrients-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 10px;
}

.outer-container__health-labels {
    width: 50%;
}

.recipe__healthLabels {
    background-color: var(--terqoise);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
    width: fit-content;
    height: 20px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

/* ---------  CALCULATOR PAGE  ----------*/

.inner-container__calculator-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0 300px;
}

.inner-container__calculator-header,
.calculator__search,
.calculator__product-info,
.calculator__servings,
.calculator__fetchedData {
    width: 100%;
    margin-bottom: 20px;
}

#searchIngredient {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#calculator__servings-form {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.calculator__form-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.calculator-product-info-type th {
    padding-right: 50px;
    padding-bottom: 10px;
}

.calculator-fetchedData__type th {
    text-align: center;
    padding-right: 50px;
}

.calculator-fetchedData__data td{
    padding-right: 50px;
    padding-bottom: 10px;
}

.calculator-fetchedData__total-of-data td{
    border-top: 1px solid #283E53;
}

#query__calculator {
    width: 200px;
    height: 25px;
}
#calculator-servings-form__input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--darkblue);
}

.calculator__search-button {
    margin-left: 80px;
}

.inner-container__calculator-header h3 {
    margin-bottom: 25px;
}

.calculator__fetchedData {
    margin-top: 25px
}

.btn-calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--darkblue);
    padding: 4px 10px;
    background-color: var(--terqoise);
    font-size: medium;
    margin-right: 20px;
}

.btn-calculator:hover {
    cursor: pointer;
}

.calculator__icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--darkblue);
    margin-right: 20px;
}




